img.normal{
    float: left;
    height:300px;
    width: 300px;
    border-radius: 5px;
}

img.alta{
    float: left;
    height: 420px;
    width: 500px;
    border-radius: 5px;
}

h1{
    border-bottom-style: inset;
}

pre{
    font-size: 1em;
}

.fonte-azul{
    color: blue;
}

.oculta{
    display: none;
}

.exibe{
    display: inline;
}

.italico{
    font-style: italic;
}